:root {
    --main-font: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
}  

body {
    font-family: var(--main-font);
}

.page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 25px);
}

.main {
    flex: 1 0 auto;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.sub{
    font-size: 1rem;
    text-align: center;
    margin-top: -1.2rem;
    margin-bottom: 1.5rem;
}


.grid-container {
    display: grid;
    grid-template-columns: 2.5rem 1fr 2.5rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: auto;
    max-width: 40rem;
    margin: 0 auto;
}

.grid-container i {
    text-align: center;
    margin-right: 0.5rem;
}

.grid-container input {
    font-size: 2.3rem;
    height: 4rem;
    text-align: right;
    min-width: 16.5rem;
}

.grid-container label {
    text-align: left;
    margin-left: 0.2rem;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.description {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
}

.link {
    text-align: center;
}

.table {
    text-align: center;
    margin-left: 3rem;
}

.tab1 {
    display: inline-block;
    width: 6rem;
    text-align: right;
    margin-left: 1rem;
}

.tab2 {
    display: inline-block;
    width: 10rem;
    text-align: left;
}

.footer {
    flex-shrink: 0;
    text-align: right;
    font-size: 0.85rem;
    margin: 0 0.5rem 0 0;
}