:root {
    --main-font: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;
}

body {
    background-color: rgb(242, 244, 243);
    font-family: var(--main-font);
    color: rgb(48, 41, 64);
}

.page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 25px);
}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bgcolor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    margin: 1rem 0 0.6rem 0;
    padding: 1.2rem 0rem;
    width: 100%;
    max-width: 40rem;
}

.title {
    width: 14rem;
    margin-left: 0.5rem;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 0.8rem;
    margin-bottom: 0.3rem;
}


.main-bgcolor {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 100%;
    max-width: 40rem;
    margin: 0.3rem 0rem;
    padding: 1.4rem 0rem 2rem 0rem;
}

.date {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 3.5rem 1fr 3.5rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 0.2rem;
    align-items: center;
    justify-items: auto;
    max-width: 32rem;
    margin: 0 auto;
}

.grid-container img {
    width: 20px;
    justify-self: center;
    margin-right: 0.8rem;
    margin-left: 1.2rem;
}

.grid-container svg {
    fill: rgb(48, 41, 64);
    justify-self: center;
    margin-right: 0.8rem;
    margin-left: 1.2rem;
    height: 2em;
}

.grid-container input {
    font-size: 2.3rem;
    height: 4rem;
    text-align: right;
    min-width: 13rem;
    padding-right: 0.3rem;
}

.grid-container label {
    font-size: 1.2rem;
    text-align: left;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}


.share-bgcolor {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 100%;
    max-width: 40rem;
    margin: 0.3rem 0;
    padding: 1rem 0;
}

.sns-subject {
    text-align: center;
    margin: -0.2rem 0 0.4rem 0;
}

.sns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sns img {
    height: 2.4rem;
    width: 2.4rem;
}



.flex-descriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

.description-bgcolor,
.satoshi-bgcolor {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    margin: 0.3rem 0;
    padding: 1.2rem 0rem;
}

.description,
.link,
.table {
    font-size: 0.9rem;
    text-align: left;
    margin: 0 0 0 12%;
}


.footer {
    flex-shrink: 0;
    text-align: right;
    font-size: 0.85rem;
    margin: 1rem 0.5rem 0 0;
}

#copy-to-clipboard {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

#notification {
    position: absolute;
    visibility: hidden;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
    transform: translateX(-100%);
    white-space: nowrap;
}


.update-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(48, 41, 64);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.6rem 0;
}

.update-notice #updateBtn {
    background-color: rgb(247, 147, 26);
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-left: 10px;
}

.update-notice #updateBtn:hover {
    background-color: rgb(217, 144, 54);
}