:root {
  --main-font: RoundedMplus1c, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, Meiryo, sans-serif;
  --light-accent-color: #faa946;
  --dark-accent-color: #cc526c;
  --sub-color: #fcde47;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color2);
  font-family: var(--main-font);
  color: var(--main-text-color);
  margin: 0;
}

a,
a:visited {
  color: var(--main-text-color);
}

a:hover {
  color: var(--two-color);
}

a,
span,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button>* {
  pointer-events: none;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

.normal-btn,
.dark-btn {
  cursor: pointer;
  font-weight: 500;
  color: var(--main-text-color);
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 6px;
  text-decoration: none;

  &:hover {
    color: var(--main-text-color);
  }

  &:active {
    background-color: var(--hover-color);
  }
}

.dark-btn {
  background-color: var(--unit-bg-color);

  &:active {
    background-color: var(--hover-color2);
  }
}

@font-face {
  font-family: "RoundedMplus1c";
  src: url("../fonts/RoundedMplus1c-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoundedMplus1c";
  src: url("../fonts/RoundedMplus1c-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoundedMplus1c";
  src: url("../fonts/RoundedMplus1c-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject {
  color: var(--subject-text-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 34px;
}

/* ポップアップ通知 */
#notification {
  z-index: 1000;
  position: absolute;
  visibility: hidden;
  color: var(--main-text-color);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--bg-color1);
  border: 2px solid var(--input-bg-color);
  border-radius: 6px;
  padding: 12px 14px;
  white-space: nowrap;
}

/* ダークモード設定 */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --two-color: var(--light-accent-color);
    --two-color-r: var(--dark-accent-color);
    --input-text-color: #000000;
    --main-text-color: #3d3d3d;
    --svg-color: #525252;
    --svg-color2: #8f8f8f;
    --subject-text-color: #757575;
    --bg-color1: #ffffff;
    --bg-color2: #ededed;
    --input-bg-color: #ededed;
    --unit-bg-color: #dedede;
    --hover-color: #dedede;
    --hover-color2: #d1d1d1;
    --hover-color3: #f7f7f7;
    --invalid-color: #dedede;
    --dark-mode-toggle: #ededed;
    --alpha-color: rgba(0, 0, 0, 0.1);
  }

  :root[data-theme="dark"] {
    color-scheme: dark;
    --two-color: var(--dark-accent-color);
    --two-color-r: var(--light-accent-color);
    --input-text-color: #ffffff;
    --main-text-color: #e6e6e6;
    --svg-color: #f0f0f0;
    --svg-color2: #808080;
    --subject-text-color: #999999;
    --bg-color1: #1a1a1a;
    --bg-color2: #303030;
    --input-bg-color: #303030;
    --unit-bg-color: #404040;
    --hover-color: #404040;
    --hover-color2: #4d4d4d;
    --hover-color3: #242424;
    --invalid-color: #404040;
    --dark-mode-toggle: #f0f0f0;
    --alpha-color: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --two-color: var(--dark-accent-color);
    --two-color-r: var(--light-accent-color);
    --input-text-color: #ffffff;
    --main-text-color: #e6e6e6;
    --svg-color: #f0f0f0;
    --svg-color2: #808080;
    --subject-text-color: #999999;
    --bg-color1: #1a1a1a;
    --bg-color2: #303030;
    --input-bg-color: #303030;
    --unit-bg-color: #404040;
    --hover-color: #404040;
    --hover-color2: #4d4d4d;
    --hover-color3: #242424;
    --invalid-color: #404040;
    --dark-mode-toggle: #f0f0f0;
    --alpha-color: rgba(255, 255, 255, 0.1);
  }

  :root[data-theme="light"] {
    color-scheme: light;
    --two-color: var(--light-accent-color);
    --two-color-r: var(--dark-accent-color);
    --input-text-color: #000000;
    --main-text-color: #3d3d3d;
    --svg-color: #525252;
    --svg-color2: #8f8f8f;
    --subject-text-color: #757575;
    --bg-color1: #ffffff;
    --bg-color2: #ededed;
    --input-bg-color: #ededed;
    --unit-bg-color: #dedede;
    --hover-color: #dedede;
    --hover-color2: #d1d1d1;
    --hover-color3: #f7f7f7;
    --invalid-color: #dedede;
    --dark-mode-toggle: #ededed;
    --alpha-color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 601px) {
  .normal-btn:hover {
    background-color: var(--hover-color);
  }

  .dark-btn:hover {
    background-color: var(--hover-color2);
  }
}